[Quadro plugin]
Author=Quadro team
Comment=Plugin which runs custom commands
Name=desktopengine
URL=https://arcanis.name/projects/quadro/
Version=1.0
