[Quadro tabplugin]
Author=Quadro team
Comment=Favorites launcher tab for Quadro
Name=favlauncher
URL=https://arcanis.name/projects/quadro/
Version=1.0
